@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to the party of the century!</h1>
    <p class="lead">Please <a asp-action="RsvpForm">RSVP</a> to join us in this celebration!</p>
    <hr />
</div>

